{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Consulta Banco</title>
</head>
<body>
    <div class="container">
        <br>
        
        {% for m in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ m }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        
        <br>
        <div class="row">
            <H1>Consulta de Intuições Bancárias</H1>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <form class="form-inline my-0 my-lg-3" id="search-form">
                <input class="form-control mr-sm-2" type="number" placeholder="Digite o código do Banco" aria-label="Search" name="search" placeholder="Digite o código do Banco">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Código de Compensação</th>
                    <th scope="col">Nome da Instituição</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                    <td>{{ cod_compensacao }}</td>
                    <td>{{ nome_instituicao }}</td>
                    </tr> 
                
                </tbody>
            </table>
            <BR></BR>
            
    </div>
    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>